BOT_TOKEN=PASTE_NEW_BOT_TOKEN_HERE

REQUIRED_CHAT_IDS=-1003995333474,-1003857615488,-1003711392418

JOIN_LINKS=https://t.me/+YOUR_JOIN_LINK_1,https://t.me/+YOUR_JOIN_LINK_2,https://t.me/+YOUR_JOIN_LINK_3

FINAL_ACCESS_LINK=https://t.me/+YOUR_FINAL_ACCESS_LINK

PORT=3000
